h1,h2,h3, span {
    margin: 0;
  }
  
  h1 {
    font-size: 1rem;
  }
  
  h2 {
    font-size: 1rem
  }
  
  h3 {
    font-size: 1.4rem;
  }
  
  span {
    font-size: 1rem;
  }
  body{
    background-image: url(./back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;  
  }

  .container {
    max-width: 550px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    background: #fcfcfc;
  }
  
  
  img {
      width: 80px;
      filter: grayscale(100%);
  }
  button{
    background-color: #000;
    width: 100px;
    height: 40px;
    border: none;
    border-radius:5px;
    color:#fff;
  }
  input
  {
    height: 30px;
  }


  input[type=text]{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    color: #444444;
  }

  .box{
    margin-top: 15%;
  }

  .brand h1{
    font-family: 'cursive',serif;
    color:white;
    text-align: center;
    font-size: 5rem;
    font-style: italic;
  }