body {
	margin: 0 auto;
	font-family: Open Sans, 'sans-serif';
	background-color: #444444;
	padding: 20px 0px 50px 0px;
	color:#f5f5f5;
	text-align: center;

}

.weatherelements {
	font-size: 40px;
	font-weight: 100;
	margin: 10px 0px 10px 50px;

}


h1 {
	text-align: center;
	font-weight: 100;
	font-size:70px;
	margin: 10px;
	padding-bottom: 10px;

}

img {
	width: 100%;
    height: auto;
    padding: 15px 0px 15px 0px;

}


button {
	font-family: Open Sans, sans-serif;
	font-weight: 100;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 5%;
	margin-bottom: 2%;

}

input {
	width: 250px;
	height: 20px;
	font-size: 20px;
	font-family: Open Sans;
	font-weight: 100;
	margin-left: 1px;
	border: none;
	outline: none;
	padding: 20px;
	color: #444444;
	border-radius: 20px;
	font-size: 25px;

}

.img{
	height: 720vh;
}


.card{
	width:60vw;
	margin: auto;
	height: 300px;
	background: #f5f5f5;
	font-size: 2rem;
	border-radius: 20px;
	color: #1b1b1b;
}


@media(max-width: 500px){
	.card{
	width:80vw;
	margin: auto;
	height: 300px;
	background: #f5f5f5;
	font-size: 1.3rem;
	border-radius: 20px;
}

}